<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Devid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-devId" data-rule="required" class="form-control" name="row[devId]" type="number" value="{$row.devId|htmlentities}">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Venue_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-venue_id" data-rule="required" data-source="venue/index" class="form-control selectpage" name="row[venue_id]" type="text" value="{$row.venue_id|htmlentities}">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Boxtype')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-boxType" data-rule="required" class="form-control selectpicker" name="row[boxType]">
                {foreach name="boxtypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.boxType"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Boxid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-boxId" data-rule="required" class="form-control" name="row[boxId]" type="text" value="{$row.boxId|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
            {foreach name="stateList" item="vo"}
            <label for="row[state]-{$key}"><input id="row[state]-{$key}" name="row[state]" type="radio" value="{$key}" {in name="key" value="$row.state"}checked{/in} /> {$vo}</label>
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goodsstate')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
            {foreach name="goodsstateList" item="vo"}
            <label for="row[goodsState]-{$key}"><input id="row[goodsState]-{$key}" name="row[goodsState]" type="radio" value="{$key}" {in name="key" value="$row.goodsState"}checked{/in} /> {$vo}</label>
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Doorstate')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
            {foreach name="doorstateList" item="vo"}
            <label for="row[doorState]-{$key}"><input id="row[doorState]-{$key}" name="row[doorState]" type="radio" value="{$key}" {in name="key" value="$row.doorState"}checked{/in} /> {$vo}</label>
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Use_status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
            {foreach name="useStatusList" item="vo"}
            <label for="row[use_status]-{$key}"><input id="row[use_status]-{$key}" name="row[use_status]" type="radio" value="{$key}" {in name="key" value="$row.use_status"}checked{/in} /> {$vo}</label>
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_use')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-is_use" class="form-control selectpicker" name="row[is_use]">
                {foreach name="isUseList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_use"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
