<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
  <input type="hidden" name="session" value="{$venue_id}">

	{if $venue_id==0}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Venue_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-venue_id" data-rule="required" data-source="venue/index" class="form-control selectpage" name="row[venue_id]" type="text" value="{$row.venue_id|htmlentities}">
        </div>
    </div>
  {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reservation_ids')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-reservation_ids"data-source="reservation/index" data-params='{"custom[venue_id]":"0"}' data-multiple="true" class="form-control selectpage" name="row[reservation_ids]" type="text" value="{$row.reservation_ids|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Scene_type')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-scene_type" data-rule="required" class="form-control selectpicker" name="row[scene_type]">
                {foreach name="sceneTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.scene_type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coupons_type')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-coupons_type" data-rule="required" class="form-control selectpicker" name="row[coupons_type]">
                {foreach name="couponsTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.coupons_type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coupons_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-coupons_name" data-rule="required" class="form-control" name="row[coupons_name]" type="text" value="{$row.coupons_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coupons_content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-coupons_content" data-rule="required" class="form-control editor" rows="5" name="row[coupons_content]" cols="50">{$row.coupons_content|htmlentities}</textarea>
        </div>
    </div>
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-2"></label>
			<div class="col-xs-12 col-sm-8" style="color: red;">
				建议尺寸：100* 100
			</div>
	</div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coupons_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-coupons_image" data-rule="required" class="form-control" size="50" name="row[coupons_image]" type="text" value="{$row.coupons_image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-coupons_image" class="btn btn-danger faupload" data-input-id="c-coupons_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-coupons_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-coupons_image" class="btn btn-primary fachoose" data-input-id="c-coupons_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-coupons_image"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-coupons_image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coupons_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-coupons_money" data-rule="required" class="form-control" name="row[coupons_money]" type="number" value="{$row.coupons_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Use_condition')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-use_condition" data-rule="required" class="form-control" step="0.01" name="row[use_condition]" type="number" value="{$row.use_condition|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Startime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-startime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY.MM.DD HH:mm" data-use-current="true" name="row[startime]" type="text" value="{$row.startime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Endtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY.MM.DD HH:mm" data-use-current="true" name="row[endtime]" type="text" value="{$row.endtime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="{$row.weigh|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
